<nav class="navcss">
    
    <input type="checkbox" id="btn_menu" class="">
        <label for="btn_menu" class="checkbtn btn_menu flex_column">
            <span id="btn_span_1" class="btn_span"></span>
            <span id="btn_span_2" class="btn_span"></span>
            <span id="btn_span_3" class="btn_span"></span>
       </label>


    <label class="logo">LA TRIBU</label>
    
    <ul>
        <li><a class="active" href="{{url_for('index')}}"></span>Inicio</a></li>
        <li><a href="{{url_for('caminatas')}}">Caminatas</a></li>
        <li><a href="{{url_for('contact')}}">Contactenos</a></li>
        <li><a href="{{url_for('login')}}"><span class="icon-user"></span></i></a></li>
    </ul>

</nav>