.icon_Login{
	color:orange;!important
} 

.btn_login{
	color: white;
	background-color: orange;
	}


.main-login{
	margin: auto;
	width: 50%;

}

.login{
	margin-top: 100px;
}

@media (max-width: 768px) {
	.main-login{
		text-align: justify;
		width: 95%;	
	}

	.login{
		margin-top: 40%;
	}

