{% extends "base.html" %}

{% block content%}
	<div class="columns">
		<div class="column">
			<p class="has-text-justified">Lorem ipsum dolor sit amet consectetur adipisicing, elit. Nam, obcaecati eius facilis, illo assumenda aperiam laborum, distinctio error vel laudantium maiores iusto quae cupiditate voluptatum. Veniam id consequatur provident dolores.
			Porro nihil nobis nemo dolores unde ipsam aliquam vero eius enim harum, fugit dolor exercitationem magni, quidem dolorem vitae voluptatibus corporis nostrum quibusdam accusamus sunt ad nisi. Beatae, et, quibusdam.
			Aspernatur sed quod repellendus quidem porro quis, corporis nam inventore eveniet provident sit, soluta hic praesentium. Maxime officia similique quae ducimus dolores ad mollitia. Error impedit eos veritatis, sint. Exercitationem!
			Id rem natus, quas quaerat adipisci velit ipsa culpa sequi, veniam vero eligendi eaque alias magni voluptate architecto consequuntur hic modi. Tempore aliquam esse eos hic quidem, molestias suscipit dolore?
			Laudantium libero omnis ad fugit nihil perspiciatis quo reiciendis earum sed veritatis sequi eveniet iste voluptates, animi ex aliquam dolore. Deserunt magnam explicabo suscipit accusantium vitae quae repellat at numquam.
			Veniam qui aut saepe aspernatur, dicta nisi, ad dolorem libero quaerat ut porro explicabo, ab, autem. Consequatur blanditiis dolorum, beatae rem id eius accusamus eligendi mollitia vero recusandae! Distinctio, repudiandae?
			Voluptas, ipsa, tempora. Dignissimos eaque obcaecati, sequi aut. Iusto qui esse voluptatum pariatur dolore labore aliquam eveniet, possimus iste rerum voluptatibus quod rem odit! Deserunt laborum eligendi dolore amet nemo!
			Soluta aperiam eius eveniet saepe possimus incidunt quam itaque tempore eligendi velit, sunt dolor dolorum veritatis atque quasi autem aut quibusdam, culpa veniam exercitationem officia. Aspernatur quo explicabo, modi ex.
			Magnam consequuntur culpa aliquid nobis dignissimos aspernatur laborum sunt minus, placeat eaque ea non. Soluta, facilis perferendis sed illo provident tenetur expedita. Accusamus, molestias facere quis amet velit, atque asperiores?
			Nulla, quos nam praesentium molestias, blanditiis similique voluptatibus asperiores? Aut illum corporis adipisci culpa cumque exercitationem at, itaque eligendi velit voluptatum reiciendis quibusdam est quidem, minus, veniam pariatur, necessitatibus officia.</p>
		</div>

		<div class="column">
			<p class="has-text-justified">Lorem ipsum dolor sit amet consectetur adipisicing, elit. Nam, obcaecati eius facilis, illo assumenda aperiam laborum, distinctio error vel laudantium maiores iusto quae cupiditate voluptatum. Veniam id consequatur provident dolores.
			Porro nihil nobis nemo dolores unde ipsam aliquam vero eius enim harum, fugit dolor exercitationem magni, quidem dolorem vitae voluptatibus corporis nostrum quibusdam accusamus sunt ad nisi. Beatae, et, quibusdam.
			Aspernatur sed quod repellendus quidem porro quis, corporis nam inventore eveniet provident sit, soluta hic praesentium. Maxime officia similique quae ducimus dolores ad mollitia. Error impedit eos veritatis, sint. Exercitationem!
			Id rem natus, quas quaerat adipisci velit ipsa culpa sequi, veniam vero eligendi eaque alias magni voluptate architecto consequuntur hic modi. Tempore aliquam esse eos hic quidem, molestias suscipit dolore?
			Laudantium libero omnis ad fugit nihil perspiciatis quo reiciendis earum sed veritatis sequi eveniet iste voluptates, animi ex aliquam dolore. Deserunt magnam explicabo suscipit accusantium vitae quae repellat at numquam.
			Veniam qui aut saepe aspernatur, dicta nisi, ad dolorem libero quaerat ut porro explicabo, ab, autem. Consequatur blanditiis dolorum, beatae rem id eius accusamus eligendi mollitia vero recusandae! Distinctio, repudiandae?
			Voluptas, ipsa, tempora. Dignissimos eaque obcaecati, sequi aut. Iusto qui esse voluptatum pariatur dolore labore aliquam eveniet, possimus iste rerum voluptatibus quod rem odit! Deserunt laborum eligendi dolore amet nemo!
			Soluta aperiam eius eveniet saepe possimus incidunt quam itaque tempore eligendi velit, sunt dolor dolorum veritatis atque quasi autem aut quibusdam, culpa veniam exercitationem officia. Aspernatur quo explicabo, modi ex.
			Magnam consequuntur culpa aliquid nobis dignissimos aspernatur laborum sunt minus, placeat eaque ea non. Soluta, facilis perferendis sed illo provident tenetur expedita. Accusamus, molestias facere quis amet velit, atque asperiores?
			Nulla, quos nam praesentium molestias, blanditiis similique voluptatibus asperiores? Aut illum corporis adipisci culpa cumque exercitationem at, itaque eligendi velit voluptatum reiciendis quibusdam est quidem, minus, veniam pariatur, necessitatibus officia.</p>
		</div>
	</div>	
{% endblock %}





<!-- NOTAS

colums
	is-three-quarters-mobile
	is-two-thirds-tablet
	is-half-desktop
	is-one-third-widescreen
	is-one-quarter-fullhd

column 
    is-three-quarters
    is-two-thirds
    is-half
    is-one-third
    is-one-quarter
    is-full
    is-four-fifths
    is-three-fifths
    is-two-fifths
    is-one-fifth -->