{% extends "base.html" %}
	
	<!-- en esta siguiente área como:  block content y block title fuen como se nombró en base.html   Este es para el título dinámico -->
	<!-- Comentario -->
	{#<!-- en html se vería así <title>El titulo - {%block title%}{%endblock%}</title> -->#}
{% block content%}

<div class="container">	
<div class="main-login">
  <div class="login">
    <div class="field">
      <p class="control has-icons-left has-icons-right">
        <input class="input is-medium" type="email" placeholder="Email">
        <span class="icon is-small is-left">
          <span class="icon_Login icon-envelop"></span>
        </span>
        <span class="icon is-small is-right">
          <span class="icon_Login icon-spell-check"></span>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control has-icons-left">
        <input class="input is-medium" type="password" placeholder="Password">
        <span class="icon is-small is-left">
          <span class="icon_Login icon-lock is-warning"></span>
        </span>
      </p>
    </div>
    <div class="field">
      <p class="control">
        <button class="btn_login button">
        	Ingresar
        </button>
      </p>
    </div>
  </div>



<div class="Terms">
  <label class="checkbox">
  <input type="checkbox"/>
    Remember me
  </label>
</div>	


</div>



{% endblock %}